<div class="row" *ngIf="!isVisible">
    <div class="col-6">
        <div class="card" (click)="addDocument()">
            <div class="container">
                <br />
                <i style="font-size: 2rem;" class="mdi mdi-upload"></i>
                <h4><b>Documento</b></h4>
                <p>Seleccionar y subir un documento escaneado</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" (click)="goToForm()">
            <div class="container">
                <br />
                <i style="font-size: 2rem;" class="mdi mdi-phone-in-talk"></i>
                <h4><b>Voz</b></h4>
                <p>Llenar el formulario mediante llamada telefónica</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isVisible">
    <form [formGroup]="formControl" novalidate>
        <div class="flex flex-column">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <label><b>Clave</b></label>
                <input formControlName="clave" type="text" class="form-control" placeholder='Clave' [ngClass]="displayFieldCss('clave')">
            </div>
        </div>
        <div class="flex flex-column">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <label><b>Documento</b></label>
                <div class="row">
                    <div class="col-1 grid-margin stretch-card">
                        <button 
                        [disabled]="disabledButton"
                        style="border: 1px solid #F95F53; padding:0.5rem .9rem"
                        type="button" 
                        (click)="removeFile()"
                        class="btn btn-outline-secondary btn-icon space" 
                        pTooltip="Borrar archivo seleccionado">
                        <i style="margin-right: 0rem; color: #F95F53;" class="mdi mdi-delete"></i>
                    </button>
                    </div>
                    <div class="col-11 grid-margin stretch-card">
                        &nbsp;&nbsp;
                        <p-fileUpload #fileUpload mode="basic" name="file"
                        chooseLabel="Seleccionar archivo..."
                        (onSelect)="onSelect($event)"
                        accept=".pdf,.png,.jpg,.jpeg" [maxFileSize]="2000000"
                        >
                    </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="p-dialog-footer app-dialog-footer">
        <button class="btn btn-block btn-secondary font-weight-medium auth-form-btn" type="submit" (click)="cancel()">
            Cancelar
        </button>
        &nbsp;
        <button class="btn btn-block btn-primary font-weight-medium auth-form-btn" type="submit" (click)="save()">
            Guardar
        </button>
    </div>
</div>