<div class="row" *ngIf="!isVisible">
    <div class="col-6">
        <div class="card" (click)="addDocument()">
            <div class="container">
                <br />
                <i style="font-size: 2rem;" class="mdi mdi-upload"></i>
                <h4><b>Documento</b></h4>
                <p>Seleccionar y subir un documento escaneado</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" (click)="goToForm()">
            <div class="container">
                <br />
                <i style="font-size: 2rem;" class="mdi mdi-phone-in-talk"></i>
                <h4><b>Voz</b></h4>
                <p>Llenar el formulario mediante llamada telefónica</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isVisible">
    <form [formGroup]="formControl" novalidate>
        <div class="flex flex-column">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                <div class="form-group col-md-4 col-lg-4 col-sm-4">
                    <label><b>Sección</b></label>
                    <select formControlName="clave" class="form-control select-color" [ngClass]="displayFieldCss('clave')" placeholder="Seleccionar...">
                        <option selected value="0">Seleccionar ...</option>
                        <option *ngFor="let section of array" [value]="section.seccion">
                            {{ section.seccion }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-4">
                    <label><b>Número de casilla</b></label>
                    <select formControlName="casilla" class="form-control select-color" [ngClass]="displayFieldCss('casilla')" placeholder="Seleccionar...">
                        <option selected value="0">Seleccionar ...</option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                        <option value="6"> 6 </option>
                        <option value="7"> 7 </option>
                        <option value="8"> 8 </option>
                        <option value="9"> 9 </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-4">
                    <label><b>Tipo</b></label>
                    <select formControlName="tipo" class="form-control select-color" [ngClass]="displayFieldCss('tipo')" placeholder="Seleccionar...">
                        <option selected value="">Seleccionar ...</option>
                        <option value="B">Básica </option>
                        <option value="C">Contigua </option>
                        <option value="E">Especial </option>
                    </select>
                </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <label><b>Documento</b></label>
                <div class="row">
                    <div class="col-1 grid-margin stretch-card">
                        <button 
                        [disabled]="disabledButton"
                        style="border: 1px solid #F95F53; padding:0.5rem .9rem"
                        type="button" 
                        (click)="removeFile()"
                        class="btn btn-outline-secondary btn-icon space" 
                        pTooltip="Borrar archivo seleccionado">
                        <i style="margin-right: 0rem; color: #F95F53;" class="mdi mdi-delete"></i>
                    </button>
                    </div>
                    <div class="col-11 grid-margin stretch-card">
                        &nbsp;&nbsp;
                        <p-fileUpload #fileUpload mode="basic" name="file"
                        chooseLabel="Seleccionar archivo..."
                        (onSelect)="onSelect($event)"
                        accept=".pdf,.png,.jpg,.jpeg" [maxFileSize]="2000000"
                        >
                    </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="p-dialog-footer app-dialog-footer">
        <button class="btn btn-block btn-secondary font-weight-medium auth-form-btn" type="submit" (click)="cancel()">
            Cancelar
        </button>
        &nbsp;
        <button class="btn btn-block btn-primary font-weight-medium auth-form-btn" type="submit" (click)="save()">
            Guardar
        </button>
    </div>
</div>