<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                  <div class="row">
                    <div class="col-lg-8 d-flex flex-column">
                      <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div>
                                <img 
                                  style="display: block; margin-left: auto; margin-right: auto;" 
                                  *ngIf="documento.id == 0 || documento.isVoice" 
                                  alt="Image" 
                                  src="assets/images/no-document.jpg">
                              </div>
                              <div class="d-sm-flex justify-content-center align-items-center">
                                <img #image width="100%">
                                <iframe
                                    #pdf
                                    frameBorder="0"
                                    scrolling="auto"
                                    width="100%"
                                    height="1100px">
                                </iframe>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
                      <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                  <h4 class="card-title card-title-dash">Resultados de la votación</h4>
                                  <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" 
                                    (click)="save()">
                                    <i class="mdi mdi-content-save"></i>Guardar</button>
                                  &nbsp;
                                  <button class="btn btn-secondary btn-lg text-white mb-0 me-0" type="button"
                                    (click)="cancel()" style="color: black !important">
                                    <i class="mdi mdi-close"></i>Cancelar</button>
                                </div>
                                <p-divider></p-divider>
                                <br />
                                <form [formGroup]="formControl" novalidate>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="pan"  maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pri.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="pri" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/prd.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="prd" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pt.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="morena" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/alianza.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="alianza" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/ci.png" width="40">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="ci" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <p-divider></p-divider>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col1" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col2" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col3" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col4" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col5" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/pri.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col6" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col7" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pan.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col8" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/prd.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col9" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/pri.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col10" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5">
                                      <img src="assets/images/partidos/prd.png" width="33" style="margin-right: 2px;">
                                      <img src="assets/images/partidos/alianza.png" width="33">
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col11" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <p-divider></p-divider>
                                  <div class="row">
                                    <div class="col-5" style="font-size: .8em;">
                                      CANDIDATAS/OS NO REGISTRADAS/OS
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="col12" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5" style="font-size: .8em;">
                                      VOTOS NULOS
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber formControlName="nulos" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-5" style="font-size: .8em;">
                                      TOTAL
                                    </div>
                                    <div class="col-7">
                                      <p-inputNumber [max]="999" formControlName="total" maxlength="3"> </p-inputNumber>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>